
.green-background {
    background: url('https://i.ytimg.com/vi/oeFAKFJQzek/maxresdefault.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    padding-top: 20px;
}

.red-background {
  
    /*background: url('http://www.blended-html.com/background-images/bi-background-redish.png') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    background: linear-gradient(to left, rgba(255, 0, 0, .6) , rgba(150, 0, 0, .2));

}


.styled-text {
    color: #004910;
    font-family: Trebuchet MS;
}

.pic-border {
    align: center;
    border: solid;
    border-color: #004910;
}

.aboutme-style {
    padding-bottom: 150px;
    padding-top: 10px;
    padding-right: 75px;
    padding-left: 75px;



}
