

body {
    background-color: rgba(0, 10, 10, .2);
    padding-top: 60px;


}
.blue-background {
    /*background: url('https://i.ytimg.com/vi/oeFAKFJQzek/maxresdefault.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20px;
    background: linear-gradient(to right, rgba(0, 0, 255, .3) , rgba(0, 0, 150, .1));
}

.red-background {
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(to left, rgba(255, 0, 0, .4) , rgba(150, 0, 0, .2));

}
.green-background {
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(to right, rgba(0, 150, 0, .4) , rgba(0, 255, 0, .2));

}

.yellow-background {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(to left, rgba(255, 255, 0, .1) , rgba(245, 245, 0, .2));

}



.styled-text {
    color: #004910;
    font-family: Trebuchet MS;
}

.pic-border {
    align: center;
    border: solid;
    border-color: #004910;
}

.padded {
  padding-top: 20%;

}

.aboutme-style {
    padding-bottom: 50px;
    padding-top: 60px;
    padding-right: 75px;
    padding-left: 75px;
}

.portfolio-style {
    padding-bottom: 150px;
    padding-top: 60px;
    padding-right: 75px;
    padding-left: 75px;

}


.contactme-style {
    padding-bottom: 150px;
    padding-top: 60px;
    padding-right: 75px;
    padding-left: 75px;
}


.aboutme-style-active {
    text-shadow: 1px 1px 1px red;

}

.portfolio-style-active {
    text-shadow: 1px 1px 1px red;

}

.portfolio-style-active {
    text-shadow: 1px 1px 1px red;

}


/* heading animations */

.rightBracket {
            animation: moveBracket 1100ms;
            animation-fill-mode: forwards; 
}

@keyframes moveBracket {
       
    100% {
        transform: translate(-765px, 15px);
        font-size: 30pt;
    }
}
        
